<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title>Document</title>
</head>
<body>
    
    {{ the_div | safe }}

    {{ the_script | safe }}
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.js"></script>
</body>
</html>